.section-cards {
    position: relative;

    &__ball {
        position: absolute;
        right: 0;
        top: 0;
        height: 520px;
        width: 480px;
        border-radius: 41% 0% 10% 63% / 18% 27% 10% 72%;
        background: linear-gradient(91.6deg, #255d8b 9.03%, #3a80ba 96.98%);
        opacity: 0.1;
        z-index: -1;
    }
}
