.table-name {
    margin: 20px 0;
    font-size: 32px;
    line-height: 39px;
    font-weight: bold;
}

.users-table {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: #3a80ba;
    border-radius: 8px;
}

.user-table-total-clicks,
.user-table-total-views {
    text-align: center;
}
.user-table-thead {
    color: #fff;
}

.user-head {
    vertical-align: middle;
    padding: 15px 25px;
    border-right: 1px solid white;
}
.user-item-info {
    padding: 16px 25px;
    border-right: 1px solid white;
    vertical-align: middle;
}

.user-item:nth-child(odd) {
    background: #fbfbfb;
}
.user-item:nth-child(even) {
    background: #f1f1f1;
}

.user-item {
    color: #1a1a1a;
}
.user-item {
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        color: #fff;
        background: #3a80ba;
    }
}

// Pagination
.nav-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 5px;
}

.pagination-item {
    display: block;
    padding: 15px;
    border: 1.5px solid #e5e5e5;
    margin: 10px;
    border-radius: 8px;
    color: #000;
}

.pagination-item-active {
    background: #3a80ba;
    color: #fff;
    border-color: #3a80ba;
}

.pagination-btn {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    background: transparent;
}

.pagination-btn:hover .pagination-icon {
    border-color: #3a80ba;
}

.pagination-icon {
    border: solid #f1f1f1;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
    transition: 0.5s;
}

.pagination-icon-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
}

.pagination-icon-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 10px;
}

@media screen and (max-width: 1366px) {
    .users-table {
        overflow-wrap: break-word;
    }
    .user-head {
        line-height: 18px;
        font-size: 12px;
        padding: 5px 10px;
    }

    .user-item-info {
        font-size: 12px;
        padding: 10px;
    }
}

@media screen and (max-width: 980px) {
    .user-head {
        font-size: 8px;
    }

    .user-item-info {
        font-size: 8px;
        padding: 3px 5px;
    }

    .pagination-icon {
        padding: 5px;
    }
    .pagination-item {
        margin: 5px;
        padding: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .users-table {
        table-layout: fixed;
    }

    .user-head {
        font-size: 5px;
        padding: 7px;
        line-height: 5px;
    }
}
