.navigation {
    padding: 24px 0;
    background: linear-gradient(92.09deg, #255D8B 2.29%, #3A80BA 96.79%);

    &__link {
        font-size: 40px;
        color: #fff;
        font-weight: lighter;
    }
}
